$game-board-color: rgba(0,247,255,0.5);
$light-saber-blue: #0043ff;

* {
  margin: 0;
  font-family: Orbitron;
}

body {
  background-image: url(../images/retro_wave_background.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  overflow: auto;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 250%;
}

h2 {
  overflow: auto;
  color: #FFFFFF;
  font-size: 140%;
}

h3 {
  overflow: auto;
  color: #FFFFFF;
  font-size: 140%;
}

p, .a1, .b1, .c1, .d1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 140%;
}

.intro-container {
  background: linear-gradient(0deg, $game-board-color 0%, rgba(254,0,255,1) 50%, $game-board-color 100%);
  box-shadow: 0px 0px 50px 80px $game-board-color;
  position: absolute;
  top: 20%;
  bottom: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.player1-icon,
.player2-icon,
.player3-icon,
.p1-avatar,
.p2-avatar,
.p3-avatar {
  background-image: url(../images/bb8_n.png);
  border: 2px solid $light-saber-blue;
  background-size: cover;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  z-index: 2;
}

.player2-icon,
.p2-avatar {
  background-image: url(../images/c3po_n.png);
}

.player3-icon,
.p3-avatar {
  background-image: url(../images/r2d2_n.png);
}

.player1-icon-container,
.player2-icon-container,
.player3-icon-container {
  display: flex;
  align-items: center;
  margin: 1%;
}

.player1-input,
.player2-input,
.player3-input {
  width: 400px;
  height: 60px;
  border-radius: 30px;
  font-size: 140%;
  text-align: center;
  opacity: .6;
  margin-left: -8%;
}

.start-game-button-container,
.light-saber-container {
  display: flex;
  margin-top: 2%;
  cursor: pointer;
  opacity: .8;
}

.light-saber-handle-image {
  background-image: url(../images/light_saber_handle.png);
  background-size: cover;
  width: 200px;
  height: 57px;
  margin-top: 1px;
}

.start-game-sub-button,
.light-saber-sub-button {
  background-color: $light-saber-blue;
  border: none;
  color: #FFFFFF;
  margin-top: 2%;
  width: 400px;
  height: 36px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 140%;
  text-align: center;
}

.start-game-button-container:hover,
.light-saber-container:hover {
  transform: scale(1.08);
  opacity: 1;
  .start-game-sub-button,
  .light-saber-sub-button {
    // position: absolute;
    // animation: animate-right 1s;
    background-color: #97C9FE;
    box-shadow: 0px 0px 50px 40px $light-saber-blue;
    color: black;
    cursor: pointer;
  }
}


// @keyframes animate-right {
// 0% {
//     right: -300px;
//     width: 0px;
//     opacity: 0;
// }
//
// 100% {
//     right: 0;
//     width: 400px;
//     opacity: 1;
// }
// }


// .fade-out-animation {
//   animation: fade-out 2s 1;
// }

.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

.player-1-container,
.player-2-container,
.player-3-container {
  margin-top: 3.5%;
  display: flex;
  background-color: rgba(122, 0, 255, .5);
  height: 104px;
  width: 400px;
  border-radius: 52px;
}

.p1-text-box,
.p2-text-box,
.p3-text-box {
  padding-left: 2%;
  width: 300px;
}

.leader-board-button,
.new-game-button {
  height: 50px;
  width: 10%;
  border-radius: 10px;
  font-size: 100%;
  text-transform: uppercase;
}

.leader-board-button:hover,
.new-game-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 60px 40px $game-board-color;
}

.middle {
  display: flex;
  height: 60vh;
}

.game-board {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "a f k p"
    "b g l q"
    "c h m r"
    "d i n s"
    "e j o t";
}

.board {
  padding: 13%;
  animation: fade-in 2s 1;
  font-size: 120%;
  border: 1px dotted #FFFFFF;
  background-color: rgba(122, 0, 255, .5);
}

.number {
  transition: transform .3s;
}

.number:hover {
  transform: scale(1.4);
}

.board:hover {
  background-color: rgba(0, 184, 255, 0.7);
  cursor: pointer;
}

.a1:hover, .b1:hover,
.c1:hover, .d1:hover {
  cursor: default;
  background-color: rgba(122, 0, 255, .5);
}

.question-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  border: 2px dotted #FFFFFF;
  top: 20%;
  left: 20%;
  bottom: 20%;
  width: 60%;
}

.question {
  text-align: center;
  margin: 4%;
}

.answer-button {
  margin: 1%;
  height: 40px;
  width: 50%;
  border-radius: 10px;
  font-size: 100%;
  transition: transform .3s;
  border: none;
}

.answer-button:hover {
  transform: scale(1.09);
  cursor: pointer;
  background-color: #35FFF0;
}

.left-column,
.right-column {
  width: 20%;
}

.bottom {
  display: flex;
  justify-content: space-around;
  height: 20vh;
}

.a1 {
  grid-area: a;
}

.a2 {
  grid-area: b;
}

.a3 {
  grid-area: c;
}

.a4 {
  grid-area: d;
}

.a5 {
  grid-area: e;
}

.b1 {
  grid-area: f;
}

.b2 {
  grid-area: g;
}

.b3 {
  grid-area: h;
}

.b4 {
  grid-area: i;
}

.b5 {
  grid-area: j;
}

.c1 {
  grid-area: k;
}

.c2 {
  grid-area: l;
}

.c3 {
  grid-area: m;
}

.c4 {
  grid-area: n;
}

.c5 {
  grid-area: o;
}

.d1 {
  grid-area: p;
}

.d2 {
  grid-area: q;
}

.d3 {
  grid-area: r;
}

.d4 {
  grid-area: s;
}

.d5 {
  grid-area: t;
}

@keyframes fade-in {
  0%{
    opacity: 0;
    filter: blur(10px);
  }
  100%{
    opacity: 1;
    filter: blur(0px);
  }
}

// @keyframes fade-out {
//   0%{
//     opacity: 1;
//     filter: blur(0px);
//   }
//   100%{
//     opacity: 0;
//     filter: blur(10px);
//   }
// }

.hidden {
  display: none;
}
